body{
   background-image: url(../img/1.jpg);
    background-color: brown;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin:0;
}.titulo{
    color: rgb(19, 19, 19);
    text-align: center;
}
.caja{
    background-color: rgb(8, 61, 61);
    color:blue;
    font-weight: bold;
    padding-left: 10px;
    border:2px solid #3730a3;
    width: 350px;
    height: 60px;

}
.caja-enlinea{
    display:inline;
}
.caja-bloque{
    display:block;
    background-color: rgb(175, 128, 57);
}
.caja-enlinea-bloque{
    display:inline-block;
    background-color: #1a0dce;

}

